<!-- Vista para mostrar una tabla con las reservas existentes -->
<div class="container mt-4">
  <h2 class="mb-4">Lista de Reservas</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre de Sala</th>
          <th>Fecha</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.id }}</td>
          <td>{{ reserva.sala_nombre }}</td>
          <td>{{ reserva.fecha | date: 'yyyy-MM-dd'}}</td>
          <td>{{ reserva.hora_inicio }}</td>
          <td>{{ reserva.hora_fin }}</td>
          <td>
            <button class="btn btn-danger btn-sm align-middle" (click)="eliminarReserva(reserva.id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>